<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BookingClassDiagram -->
      <package
            uri="http:///model.ecore"
            class="bookingmodel.ModelPackage"
            genModel="BookingClassDiagram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MaintenanceClassDiagram -->
      <package
            uri="http:///model.ecore"
            class="maintenancemodel.ModelPackage"
            genModel="MaintenanceClassDiagram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BookingClassDiagram -->
      <package
            uri="http://www.eclipse.org/uml2/5.0.0/Types"
            class="org.eclipse.uml2.types.TypesPackage"
            genModel="BookingClassDiagram.genmodel"/>
   </extension>

</plugin>
